
html,
body {
    height: 100%;
    background:coral;
}

body {
    display: flex;
    align-items: center;
    font-family: 'Arial';
}

div {
    cursor: pointer;
    margin: auto;
    font-size: 10vmin;
    font-weight: 300;
    transition: font-weight 250ms easein-and-out;
}

div:hover {
    font-weight: 900;
}
